POSTGRES_DB=scrum_board
POSTGRES_USER=scrum_user
POSTGRES_PASSWORD=Clave.10
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

Database__ApplyMigrations=true
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_HTTP_PORTS=8080

JWT_KEY=DzVlgaEybST5Ca1LNFV3M2X3IsbhmOqlcsjGTR1l74ENFZHPoAo7RkGly557uSplRu5rCX2daHFHiZx0hfHCww==

API_PORT=8080
FRONTEND_PORT=4200
