.card {
    background: var(--scrum-surface);
    border: 0;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--scrum-shadow);
    border-radius: var(--scrum-radius);

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
